name: Build and publish Openapi

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "packages/openapi/**"

jobs:
  build_and_publish:
    uses: ./.github/workflows/publish.yml
    with:
      workspace: packages/openapi
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
